/*==========  footer  ==========*/
footer {
  color: #fff;
  font-size: 14px;
  background: #0d0e0e; }
  footer h4 {
    font-weight: 500;
    font-size: 16px; }
  footer .advantages {
    position: relative; }
    footer .advantages:before {
      content: '';
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      bottom: 0;
      height: 1px;
      background: #434343;
      max-width: 1170px;
      width: calc(100% - 30px); }

.footer-center {
  padding: 40px 0;
  border-top: 1px solid #434343;
  border-bottom: 1px solid #434343; }

.footer-bottom {
  padding: 38px 0;
  font-size: 13px;
  font-weight: 100; }

.footer-top {
  padding: 53px 0 30px; }
  .footer-top h4 {
    margin: 0 0 28px;
    text-transform: uppercase; }
  .footer-top .box-text {
    max-width: 318px;
    color: #d8d8d8;
    font-size: 14px;
    line-height: 21px; }

.links-politics {
  color: #d8d8d8;
  margin: 0 0 0 40px; }

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: 'Font Awesome 5';
  color: rgba(255, 255, 255, 0.76);
  font-size: 16px; }
  .list-social li {
    margin: 0 50px 0 0; }
    .list-social li:last-child {
      margin: 0; }
    .list-social li a {
      color: rgba(255, 255, 255, 0.76); }
      .list-social li a:hover {
        color: #0d90d0; }
    .list-social li .icon-font {
      font-family: "ElegantIcons"; }

.footer-contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fefefe;
  font-size: 16px;
  font-weight: 300; }
  .footer-contacts-item__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 44px;
    height: 33px;
    fill: #fff; }
  .footer-contacts-item__body {
    width: calc(100% - 44px);
    padding: 0 0 0 30px; }
  .footer-contacts-item h4 {
    font-weight: 500;
    font-size: 16px;
    margin: 0 0 10px; }
  .footer-contacts-item a {
    color: #d8d8d8;
    font-weight: 300; }
    .footer-contacts-item a:hover {
      color: #0d90d0; }

.footer-menu {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.93; }
  .footer-menu li a {
    color: #d8d8d8; }
    .footer-menu li a:hover {
      color: #0d90d0; }

/*==========  footer end  ==========*/
/*==========  modal  ==========*/
.modal {
  padding: 0 !important; }

.modal-dialog {
  max-width: 430px; }

.modal-content {
  background: #fff;
  border: none;
    border-radius: 0;
  position: relative;
  padding: 40px 40px 35px; }
  .modal-content .box-text {
    text-align: center;
    margin: 0 auto 25px;
    font-size: 18px;
    color: #333;
    line-height: 1.5;
    width: 100%; }

.modal-header {
  padding: 0;
  border: none;
  margin: 0 auto 18px; }
  .modal-header .close {
    width: 14px;
    height: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    padding: 0;
    top: 15px;
    right: 15px;
    opacity: 1;
    cursor: pointer;
    margin: 0; }
    .modal-header .close:before, .modal-header .close:after {
      content: '';
      position: absolute;
      left: 7px;
      top: 0;
      background: #0d0e0e;
      width: 1px;
      height: 100%; }
    .modal-header .close:before {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .modal-header .close:after {
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg); }

.modal-title {
  width: 100%;
  text-align: center;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase; }

.modal-body {
  padding: 0; }

.form-callback button {
  margin: 0 auto; }

.modal-backdrop {
  background: #0d0e0e; }

.modal-backdrop.show {
  opacity: .7; }

/*==========  modal end  ==========*/
