/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .services-image {
    max-width: 850px; }
  .services-image-box10 {
    left: 108px; }
  .services-image-box11 {
    left: 288px; }
  .services-image-box17 {
    bottom: 110px;
    left: 240px; }
  .type-cars-box {
    margin: 0 auto 30px;
    width: 100%; }
  .home-img {
    min-width: 700px; }
  .menu li {
    margin: 0 20px 0 0; }
  .btn-search {
    margin: 0 15px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .footer-top {
    padding: 30px 0 10px; }
    .footer-top .box-text {
      max-width: none; }
    .footer-top h4 {
      margin: 0 0 20px; }
  .footer-box {
    margin: 0 0 30px; }
  .footer-contacts-item {
    margin: 0 0 20px; }
    .footer-contacts-item__body {
      padding: 0 0 0 20px; }
  .footer-center {
    padding: 20px 0 10px; }
  .footer-bottom {
    padding: 20px 0; }
  .works-box5 {
    height: 500px; }
  .services-image {
    margin: 30px auto 0;
    max-width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .services-image-box {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    margin: 0 auto 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
    .services-image-box__img {
      width: 100px;
      height: 100px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 0 auto 10px; }
    .services-image-box__text {
      padding: 0;
      width: 100%;
      display: block;
      border: none;
        border-right: 0;
      position: relative;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
      max-width: none;
      background: transparent;
      min-width: auto;
      -webkit-transform: none;
              transform: none; }
      .services-image-box__text:before {
        display: none; }
    .services-image-box:last-child {
      margin: 0; }
  .home-img {
    margin: 20px auto 0;
    min-width: auto;
    width: 100%;
    max-width: 600px; }
  .home .box-text {
    margin: 20px 0;
    font-size: 20px;
    line-height: 1.4; }
  h1 {
    font-size: 40px; }
  header .menu, header .dropdown-search {
    display: none; }
  header .logo {
    left: 8%; }
  .btn-burger {
    display: block; }
  .phone {
    font-size: 16px; }
  .header-box {
    font-size: 13px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .list-social {
    margin: 20px auto 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .copyright, .links-politics {
    margin: 0 auto; }
  .map {
    position: relative;
    height: 300px; }
  .contact-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%; }
  .contacts-box {
    margin: 0;
    max-width: none;
    padding: 0 0 30px; }
  .prices {
    padding: 60px 0; }
  .p-100 {
    padding: 60px 0; }
  .works .box-text {
    margin: 0 0 30px; }
  .column-count-2 {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1; }
  .mb-50 {
    margin-bottom: 30px; }
  .type-cars-box {
    height: auto;
    padding: 20px; }
  .home {
    padding: 219px 0 60px; }
    .home .box-text br {
      display: none; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .footer-contacts-item__icon {
    width: 30px;
    height: 30px; }
  .footer-contacts-item__body {
    width: calc(100% - 30px); }
  .btn {
    height: 50px; }
  .works-box {
    height: auto; }
  h1 {
    font-size: 30px; } }

@media only screen and (max-width: 480px) {
  h2 {
    font-size: 22px;
    margin: 0 0 30px; }
  .title-decor {
    padding: 0 0 0 40px; }
    .title-decor:before {
      min-height: 34px;
      -webkit-transform: skew(-10deg) translate(0, -50%);
              transform: skew(-10deg) translate(0, -50%);
      width: 12px; }
  .services-image-box__text {
    font-size: 14px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 420px) {
  .logo {
    max-width: 80px; }
    .logo:before {
      border-left-width: 80px;
      border-right-width: 80px;
      border-top-width: 50px;
      bottom: -10px; }
  header .logo {
    left: 12%; }
  .phone {
    font-size: 15px; } }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
