@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1440px)
  .home-img
    min-width: 600px
    max-width: 650px
    margin: 80px 0 0 -140px


  .home-img-master
    min-width: 340px
    max-width: 340px
    margin: 10px 0 0 -60px

  .home-ford
    .form
      margin: 20px 0 0
      p
        margin: 0 0 10px

@media only screen and (max-width : 1200px)
  .services-image
    max-width: 850px

  .services-image-box10
    left: 108px

  .services-image-box11
    left: 288px

  .services-image-box17
    bottom: 110px
    left: 240px

  .type-cars-box
    margin: 0 auto 30px
    width: 100%


  .menu li
    margin: 0 20px 0 0

  .btn-search
    margin: 0 15px

  .service-item
    font-size: 14px

  .category-product-col
    width: 33.3%

  .sorting-box
    margin: 0 0 10px
    width: 100%

  .home-img-master
    min-width: 340px
    max-width: 340px
    margin: 0 100px 0 -20px

  .master-quote
    left: -250px

  .page-top
    height: auto

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  .footer-top
    padding: 30px 0 10px
    .box-text
      max-width: none
    h4
      margin: 0 0 20px

  .footer-box
    margin: 0 0 30px

  .footer-contacts-item
    margin: 0 0 20px
    &__body
      padding: 0 0 0 20px

  .footer-center
    padding: 20px 0 10px

  .footer-bottom
    padding: 20px 0

  .works-box5
    height: 500px

  .services-image
    margin: 30px auto 0
    max-width: 100%
    flex-wrap: wrap

  .services-image-box
    position: relative
    left: 0
    top: 0
    right: 0
    bottom: 0
    width: 50%
    margin: 0 auto 10px
    display: flex
    align-items: center
    flex-direction: column
    text-align: center
    &__img
      width: 100px
      height: 100px
      display: flex
      align-items: center
      justify-content: center
      margin: 0 auto 10px
    &__text
      padding: 0
      width: 100%
      display: block
      border: none
        right: 0
      position: relative
      left: 0
      top: 0
      right: 0
      bottom: 0
      box-shadow: none
      max-width: none
      background: transparent
      min-width: auto
      transform: none
      &:before
        display: none
    &:last-child
      margin: 0

  .home-img
    margin: 20px auto 0
    min-width: auto
    width: 100%
    max-width: 600px

  .home
    .box-text
      margin: 20px 0
      font-size: 20px
      line-height: 1.4

  h1
    font-size: 40px

  header
    .menu, .dropdown-search
      display: none
    .logo
      left: 8%

  .btn-burger
    display: block

  .phone
    font-size: 16px

  .header-box
    font-size: 13px

  .page
    padding: 140px 0 0

  .page-contacts
    padding-bottom: 60px
    .callback-box
      margin: 40px 0 0
    .map
      height: 350px

  .breadcrumb-nav
    margin: 0 0 30px

  .page-works, .page-category, .page-blog
    padding-bottom: 60px

  .service-item
    width: 25%

  .blog-item
    width: 100%

  .blog-sidebar
    margin: 0 0 30px
    max-width: none

  .list-sorting li
    margin: 0 10px 0 0

  .category-product-col
    width: 50%

  .page-catalog
    padding: 150px 0 80px

  .product-gallery-photo .product-img
    height: 350px

  .page-product
    padding: 150px 0 60px

  .breadcrumb-nav-page
    margin: 20px 0

  .home-img-master
    max-width: 434px

  .master-quote
    left: 50%
    transform: skewX(-20deg) translate(-50%,0)
    font-size: 16px
    bottom: 20px
    .box-text
      font-size: 14px
      margin: 0

  .bus-item-category
    width: 100%
    padding: 0
    .service-item__img
      height: 300px
      padding: 20px

  .models
    padding: 0 0 50px

  .bus-item-category-v2
    .service-item__img
      height: 200px

  .bus-gallery-item
    height: 350px

  .refurbishment-home
    .home-img-master
      margin: 20px auto 0
    .master-quote
      left: 50%

  .total-price
    font-size: 14px
    flex-direction: column
    align-items: center


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  .list-social
    margin: 20px auto 0
    justify-content: center

  .copyright, .links-politics
    margin: 0 auto

  .map
    position: relative
    height: 300px

  .contact-section
    display: flex
    flex-direction: column-reverse
    width: 100%
    padding: 30px 0 0

  .contacts-box
    margin: 0
    max-width: none
    padding: 0 0 30px

  .prices
    padding: 60px 0

  .p-100
    padding: 60px 0

  .works .box-text
    margin: 0 0 30px

  .column-count-2
    column-count: 1

  .mb-50
    margin-bottom: 30px

  .type-cars-box
    height: auto
    padding: 20px

  .home
    padding: 219px 0 60px
    .box-text
      br
        display: none

  .page-contacts .callback-box .form button
    margin: 20px auto 0

  .type-cars-row
    margin-top: 35px
    margin-bottom: 35px


  .service-item
    width: 33.3%

  .car-brands-item
    margin: 0 0 30px
    width: 20%
    font-size: 16px

  .blog-item
    width: 100%

  .slider-nav
    justify-content: center

  .recommended-article
    margin-bottom: 50px

  .sidebar
    display: none
    position: fixed
    z-index: 3
    max-width: 280px
    width: 100%
    padding: 20px
    left: 0
    top: 0
    height: 100%
    overflow-y: auto
    background: #fff

  .btn-filter
    display: flex
    width: 100%
    height: 50px
    margin: 0 0 20px

  .btn-close-sidebar, .sidebar-title
    display: flex

  .product-information
    margin: 0 0 40px

  .nav-tabs .nav-item
    margin: 0 30px 0 0
    
  .home-ford 
    .form
      button
        background: #000
      .color-accent
        color: #fff
    
  .quote
    font-size: 16px
    padding: 20px
    margin: 20px 0

  .changes
    margin: 80px 0 0

  .callback
    padding: 40px 0
    .box-text
      font-size: 16px

  .home-ford-main
    padding: 170px 0 0

  .bus-item-category
    width: 100%
    .service-item__img
      height: 250px

  .bus-item-category-v2
    .service-item__img
      height: 200px

  .p-80
    padding: 60px 0

  .order-home .product-information
    max-width: none
    margin: 30px 0 0

  .form-order
    margin: 50px 0 100px

  .form-step
    margin: 0 0 60px
    h3
      font-size: 20px
      margin: 0 auto 30px

  .sizes-product-title
    width: 100%
    margin: 0 0 10px

  .nav-tabs-form .nav-item
    margin: 0 0 20px
    flex: none
    width: 33.3%


  .form-total-wrapper
    flex-direction: column
    align-items: center


  .total-price
    margin: 10px auto

  .label-components
    margin: 0 0 30px
    &:last-child
      margin: 0 0 30px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 576px)
  .footer-contacts-item
    &__icon
      width: 30px
      height: 30px
    &__body
      width: calc(100% - 30px)

  .btn
    height: 50px

  .works-box
    height: auto

  h1
    font-size: 30px

  .service-item
    width: 50%

  .car-brands
    margin: 50px 0 70px
    h2
      margin: 0 0 40px

  .car-brands-item
    width: 25%

  .blog-item
    width: 100%

  .article-img
    height: 400px

  .product-card__img
    padding: 20px
    height: 180px

  .product-gallery-photo
    width: 100%
    padding: 0
    .product-img
      height: auto
      padding: 20px
      max-width: none

  .product-gallery-preview
    width: 100%
    height: auto
    order: 1
    margin: 20px 0
    .slick-slide
      margin: 0 10px 0 0

    .product-img
      height: 80px

  .nav-tabs
    font-size: 15px
    .nav-link
      padding: 10px 0

  .product-information
    margin: 0 0 30px

  .home-ford .form
    margin: 30px 0 0
    h3
      font-size: 16px
      margin: 0 0 15px
    p
      font-size: 16px
      margin: 0 0 15px

  .bus-item-category
    width: 100%

  .sizes-product-line .label-size
    margin: 0 10px 10px 0

  .nav-tabs-form .nav-item
    width: 50%

  .form-order .tab-content
    margin: 40px 0 0

  .works-box-v2
    transform: skewX(-12deg)
    .works-box__content
      transform: skewX(12deg)
      padding: 0 80px 9px 56px

@media only screen and (max-width : 480px)
  h2
    font-size: 22px
    margin: 0 0 30px

  .title-decor
    padding: 0 0 0 40px
    &:before
      min-height: 34px
      transform: skew(-10deg) translate(0, -50%)
      width: 12px

  .services-image-box__text
    font-size: 14px

  .car-brands-item
    width: 33.3%

  .blog-item
    width: 100%

  .article-img
    height: 300px

  .bus-gallery-item
    height: 300px



/* Custom, iPhone Retina */
@media only screen and (max-width : 420px)
  .logo
    max-width: 80px
    &:before
      border-left-width: 80px
      border-right-width: 80px
      border-top-width: 50px
      bottom: -10px

  header .logo
    left: 0

  header.fixed
    padding: 3px 0 0
    .logo
      max-width: 60px

  .phone
    font-size: 15px

  .service-item
    width: 100%
    padding: 0

  .service-wrapper
    margin: 30px 0 0

  .car-brands-item
    width: 50%

  .blog-item
    width: 100%

  .category-product-col
    width: 100%

  h1
    font-size: 26px

  .page h1
    font-size: 21px
    margin: 0 0 30px
    padding: 0 0 0 30px

  .page-catalog
    padding: 120px 0 70px

  .quote
    flex-direction: column
    align-items: flex-start
    &-icon
      margin: 0 0 10px
    &-text
      padding: 0
      width: 100%

  .master-quote
    .box-text
      font-size: 14px

  .bus-gallery-item
    height: 250px

  .btn
    padding: 0 30px

  .product-bus-box__head
    margin: 0 0 20px

  .page-product
    padding: 130px 0 60px


  .nav-tabs-form .nav-item
    width: 100%

  .components-variable__name
    max-width: none

  .form-step
    margin: 0 0 40px

  .dropdown-phone
    display: flex
    align-items: center
    .dropdown-toggle
      display: flex
      align-items: center
      padding: 0
      color: $accent
      font-size: 20px
      &:after
        font-size: 16px
    .dropdown-menu
      margin: 19px 0 0
      padding: 10px
      left: auto !important
      right: 0 !important
      transform: translateX(0) !important
      &:before
        left: auto
        right: 10px
    .phone
      color: #333
      margin: 0 0 5px


  .header-box
    display: none